<header>
    <link rel="stylesheet" href="/styles/style.css">
    <!-- <link rel="icon" href="/images/favicon.ico" type="image/x-icon"> -->
    <nav>
        <ul>
            <li><a href="/">HOME</a></li>
        </ul>
    </nav>
</header>

