<!DOCTYPE html> 
<html> 
    <%- include('header') %>
<body>
    <div class="container">
        <div class="home">
            <h1>Your Result</h1>
    <% if (processedInfo) { %>
        <p>Place: <%= processedInfo.place %></p>
        <p>Zips: <%= processedInfo.zips.join(', ') %></p>
    <% } else { %>
        <p>We were unable to process your result. </p>
    <% } %>
        </div>
    </div>
    
</body>

<%- include('footer') %>
</html> 